<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="32917dca-9198-4823-a9f8-0d395ea9287d" Name="Revit Opening" Language="1049" Codepage="windows-1251"
           Version="1.0.0.0" UpgradeCode="32917dca-9198-4823-a9f8-0d394ea9287c" Manufacturer="Altec">
    <Package InstallerVersion="200" Compressed="yes" SummaryCodepage="windows-1251" Languages="1049" />
    <Media Id="1" Cabinet="Revit_Opening.cab" EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="INSTALLDIR" Name="ABSOLUTEPATH">

        <Component Id="Component.RevitOpening.addin_2672387623" Guid="32917dca-9198-4823-a9f8-0d39a1acbe89">
          <File Id="RevitOpening.addin_2672387623" Source="Module\RevitOpening.addin" />
        </Component>

      </Directory>

      <Directory Id="TARGETDIR1" Name="ABSOLUTEPATH1">

        <Component Id="Component.EntityFramework.dll_1053770352" Guid="32917dca-9198-4823-a9f8-0d39d5562227">
          <File Id="EntityFramework.dll_1053770352" Source="Module\RevitOpening\EntityFramework.dll" />
        </Component>

        <Component Id="Component.EntityFramework.xml_2619067861" Guid="32917dca-9198-4823-a9f8-0d3957a81704">
          <File Id="EntityFramework.xml_2619067861" Source="Module\RevitOpening\EntityFramework.xml" />
        </Component>

        <Component Id="Component.LoggerClient.dll_3406832713" Guid="32917dca-9198-4823-a9f8-0d39e341969c">
          <File Id="LoggerClient.dll_3406832713" Source="Module\RevitOpening\LoggerClient.dll" />
        </Component>

        <Component Id="Component.LoggerClient.dll.config_3542656467" Guid="32917dca-9198-4823-a9f8-0d39f525a3c2">
          <File Id="LoggerClient.dll.config_3542656467" Source="Module\RevitOpening\LoggerClient.dll.config" />
        </Component>

        <Component Id="Component.LoggerClient.pdb_2254351627" Guid="32917dca-9198-4823-a9f8-0d390e3e411d">
          <File Id="LoggerClient.pdb_2254351627" Source="Module\RevitOpening\LoggerClient.pdb" />
        </Component>

        <Component Id="Component.LoggerWCFLib.dll_3791135919" Guid="32917dca-9198-4823-a9f8-0d39cca64125">
          <File Id="LoggerWCFLib.dll_3791135919" Source="Module\RevitOpening\LoggerWCFLib.dll" />
        </Component>

        <Component Id="Component.LoggerWCFLib.dll.config_3842668050" Guid="32917dca-9198-4823-a9f8-0d39e158b92d">
          <File Id="LoggerWCFLib.dll.config_3842668050" Source="Module\RevitOpening\LoggerWCFLib.dll.config" />
        </Component>

        <Component Id="Component.LoggerWCFLib.pdb_3707345921" Guid="32917dca-9198-4823-a9f8-0d396ca26803">
          <File Id="LoggerWCFLib.pdb_3707345921" Source="Module\RevitOpening\LoggerWCFLib.pdb" />
        </Component>

        <Component Id="Component.Revit.Async.dll_2624953934" Guid="32917dca-9198-4823-a9f8-0d39bb019290">
          <File Id="Revit.Async.dll_2624953934" Source="Module\RevitOpening\Revit.Async.dll" />
        </Component>

        <Component Id="Component.RevitOpening.dll_1970270061" Guid="32917dca-9198-4823-a9f8-0d3980d8f417">
          <File Id="RevitOpening.dll_1970270061" Source="Module\RevitOpening\RevitOpening.dll" />
        </Component>

        <Component Id="Component.RevitOpening.dll.config_850659396" Guid="32917dca-9198-4823-a9f8-0d39efcd775c">
          <File Id="RevitOpening.dll.config_850659396" Source="Module\RevitOpening\RevitOpening.dll.config" />
        </Component>

        <Component Id="Component.RevitOpening.pdb_2242710415" Guid="32917dca-9198-4823-a9f8-0d39b96f64d7">
          <File Id="RevitOpening.pdb_2242710415" Source="Module\RevitOpening\RevitOpening.pdb" />
        </Component>

        <Component Id="Component.Settings.txt_3227330188" Guid="32917dca-9198-4823-a9f8-0d39021ed950">
          <File Id="Settings.txt_3227330188" Source="Module\RevitOpening\Settings.txt" />
        </Component>

      </Directory>

      <Directory Id="TARGETDIR2" Name="ABSOLUTEPATH2">

        <Component Id="Component._______________________________.rfa_3012815725" Guid="32917dca-9198-4823-a9f8-0d39dd56bdef">
          <File Id="_______________________________.rfa_3012815725" Source="Module\RevitOpening\Families\Задание_Круглая_Стена_БезОсновы.rfa" />
        </Component>

        <Component Id="Component.____________________________.rfa_4239140791" Guid="32917dca-9198-4823-a9f8-0d39d7f54764">
          <File Id="____________________________.rfa_4239140791" Source="Module\RevitOpening\Families\Задание_Перекрытие_БезОсновы.rfa" />
        </Component>

        <Component Id="Component._____________________________________.rfa_365776881" Guid="32917dca-9198-4823-a9f8-0d3919048843">
          <File Id="_____________________________________.rfa_365776881" Source="Module\RevitOpening\Families\Задание_Стена_Прямоугольник_БезОсновы.rfa" />
        </Component>

        <Component Id="Component._______________________.rfa_1767946846" Guid="32917dca-9198-4823-a9f8-0d3948dc61c4">
          <File Id="_______________________.rfa_1767946846" Source="Module\RevitOpening\Families\Отверстие_Круглое_Стена.rfa" />
        </Component>

        <Component Id="Component.________________________.rfa_1179304951" Guid="32917dca-9198-4823-a9f8-0d3920f5abab">
          <File Id="________________________.rfa_1179304951" Source="Module\RevitOpening\Families\Отверстие_Прямоуг_Перекр.rfa" />
        </Component>

        <Component Id="Component._______________________.rfa_461109326" Guid="32917dca-9198-4823-a9f8-0d395f0069c6">
          <File Id="_______________________.rfa_461109326" Source="Module\RevitOpening\Families\Отверстие_Прямоуг_Стена.rfa" />
        </Component>

      </Directory>
    </Directory>

    <CustomAction Id="Set_DirAbsolutePath" Property="INSTALLDIR" Value="C:\Users\%username%\AppData\Roaming\Autodesk\Revit\Addins\2019" />
    <CustomAction Id="Set_DirAbsolutePath1" Property="TARGETDIR1" Value="C:\Users\%username%\AppData\Roaming\Autodesk\Revit\Addins\2019\RevitOpening" />
    <CustomAction Id="Set_DirAbsolutePath2" Property="TARGETDIR2" Value="C:\Users\%username%\AppData\Roaming\Autodesk\Revit\Addins\2019\RevitOpening\Families" />

    <Property Id="INSTALLDIR_ABSOLUTEPATH" Value="C:\Users\%username%\AppData\Roaming\Autodesk\Revit\Addins\2019" />

    <Feature Id="Complete" Title="Complete" Absent="allow" Level="1">
      <ComponentRef Id="Component.RevitOpening.addin_2672387623" />
      <ComponentRef Id="Component.EntityFramework.dll_1053770352" />
      <ComponentRef Id="Component.EntityFramework.xml_2619067861" />
      <ComponentRef Id="Component.LoggerClient.dll_3406832713" />
      <ComponentRef Id="Component.LoggerClient.dll.config_3542656467" />
      <ComponentRef Id="Component.LoggerClient.pdb_2254351627" />
      <ComponentRef Id="Component.LoggerWCFLib.dll_3791135919" />
      <ComponentRef Id="Component.LoggerWCFLib.dll.config_3842668050" />
      <ComponentRef Id="Component.LoggerWCFLib.pdb_3707345921" />
      <ComponentRef Id="Component.Revit.Async.dll_2624953934" />
      <ComponentRef Id="Component.RevitOpening.dll_1970270061" />
      <ComponentRef Id="Component.RevitOpening.dll.config_850659396" />
      <ComponentRef Id="Component.RevitOpening.pdb_2242710415" />
      <ComponentRef Id="Component.Settings.txt_3227330188" />
      <ComponentRef Id="Component._______________________________.rfa_3012815725" />
      <ComponentRef Id="Component.____________________________.rfa_4239140791" />
      <ComponentRef Id="Component._____________________________________.rfa_365776881" />
      <ComponentRef Id="Component._______________________.rfa_1767946846" />
      <ComponentRef Id="Component.________________________.rfa_1179304951" />
      <ComponentRef Id="Component._______________________.rfa_461109326" />
    </Feature>

    <InstallExecuteSequence>
      <Custom Action="Set_DirAbsolutePath" Before="AppSearch">(NOT Installed) AND (UILevel &lt; 5) AND (INSTALLDIR = ABSOLUTEPATH)</Custom>
      <Custom Action="Set_DirAbsolutePath1" Before="AppSearch">(NOT Installed) AND (UILevel &lt; 5) AND (TARGETDIR1 = ABSOLUTEPATH1)</Custom>
      <Custom Action="Set_DirAbsolutePath2" Before="AppSearch">(NOT Installed) AND (UILevel &lt; 5) AND (TARGETDIR2 = ABSOLUTEPATH2)</Custom>
    </InstallExecuteSequence>

    <InstallUISequence>
      <Custom Action="Set_DirAbsolutePath" Before="AppSearch">(NOT Installed) AND (UILevel = 5) AND (INSTALLDIR = ABSOLUTEPATH)</Custom>
      <Custom Action="Set_DirAbsolutePath1" Before="AppSearch">(NOT Installed) AND (UILevel = 5) AND (TARGETDIR1 = ABSOLUTEPATH1)</Custom>
      <Custom Action="Set_DirAbsolutePath2" Before="AppSearch">(NOT Installed) AND (UILevel = 5) AND (TARGETDIR2 = ABSOLUTEPATH2)</Custom>
    </InstallUISequence>

  </Product>
</Wix>

